<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "11ty Previous Next Demo" }}</title>
  </head>
  <body style="margin: 20px">
    <a href="/">Home</a>
    <hr>
    {{ content | safe}}
  </body>
</html>